*
{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container
{
    display: flex;
    background-color: white;
    justify-content: center;
    align-content: center;
    margin: 0 5%;
    /* margin-bottom: 5%; */
    padding-bottom: 2%;
    border-radius: 25px;
    height: 75vh;
}

.div1
{
    width: 60vw;
    margin: 30px 100px;
    height: 70vh;
}

.div1 .back_icon
{
    width: 100px;
}

.div2
{
    
    width: 60vw;
    margin: 30px 100px;
    height: 70vh;
}

.item_pic
{
    display: flex;
}

.item_pic img
{
    width: 160px;
}

.butt
{
    display: flex;
    flex-direction: row;
}

.butt button
{
    margin-top: 3vh;
    margin-right: 2vw;
    border: 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    background-color: #2b8097;
    color: white;
}