*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: aliceblue;
}

.header
{
    
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    height: 15vh;
    /* background-color: bisque; */
    justify-content: space-between;
}

.header_nav_bar
{
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
}

.header a
{
    text-decoration: none;
}

.nav_bar ul
{
    list-style: none;

}

.nav_bar li
{
    float: left;
}

.nav_bar a
{
    padding: 15px;
    display: block;
    text-align: center;
}

.icon
{
    width: 30px;
}

.logo
{
    width: 120px;
}

.nav_bar_side 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.nav_bar_side a
{
    padding: 10px;
}

.section_home_page
{
    display: flex;
    justify-content: center;
}

.section_page
{
    display: flex;
    height: 70vh;
    width: 90vw;
    padding-top: 10vh;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 25px;

}

.sec_l
{
    padding-top: 10vh;
    margin-left: 15vw;
}

.sec_l_inside h1, p, button
{
    margin-top: 20px;
}

.sec_l_inside button
{
    padding: 5px 35px;
}

.sec_r
{
    margin-right: 10vw;
}

.view
{
    background-color: white;
    font-size: medium;
    border-radius: 10px;
}


/*  dean ito yung sa about us na sectio */
.section_about_us
{
    display: flex;
    height: 85vh;
    

}

.section_registration
{
    display: flex;
    justify-content: center;
    height: 85vh;
    
}

.registration_container
{
    display: flex;
    height: 70vh;
    width: 50vw;
    background-color: #65bcd6;
    margin-top: 5vh;
    justify-content: space-between;
    border-radius: 15px;
}

.reg_img
{
    border-radius: 14px;
}

.form_cintainer
{
    width: 50vw;
}

.form_cintainer h2
{
    margin-top: 3%;
    padding-left: 5%;
    color: white;
    font-size: xx-large;
}

.form_cintainer form
{
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.form_cintainer input
{
    margin: 15px 0;
    border-radius: 5px;
    border: 0;
    height: 25px;
    font-size: 16px;
    width: 100%;
}

.form_cintainer div
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form_cintainer button
{
    border: 0;
    background-color: #2b8097;
    color: white;
    width: 20%;
    padding: 2% 0;
    border-radius: 10px;
    font-size: 15px;
}

.login_page
{
    background-image: url('resources/login_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container form
{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login_container form input
{
    margin-top: 3vh;
    border: 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    
}

.login_container
{
    height: 70vh;
    width: 40vw;
    background-color: aliceblue;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_container
{
    display: flex;
    justify-content: center;
    width: 70%;
}

.button_container button
{
    margin-top: 3vh;
    border: 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    background-color: #2b8097;
    color: white;
}